#cont {
    background-color: whitesmoke;
    height: 340px;
    width: 800px;
    margin-left: 100px;
    margin-top: 20px;
    margin-bottom: 0px;
    display: inline-block;
}

.pos {
    width: 760px;
    height: 300px;
    margin: 20px;
    background-color: #f1e8e8;
}

table {
    border: 1px solid whitesmoke;
    border-collapse: collapse;
}

table td {
    padding: 0px;
    border: 1px solid whitesmoke;
}

.font {
    padding: 6px;
    font-size: 13px;
    text-align: center;
    font-size: larger;
    line-height: 22px;
}